{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invade App</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="app">
        <button v-on:click="highestHP">highest HP</button>
        <button v-on:click="clearPage">clear page</button>
        <ul><li v-for="champ in champion"> ${champ.name} <img v-bind:src="website+champ.image"> </li></ul>
        

    </div>

<script>
    let app = new Vue({
        el: '#app',
        delimiters: ['${','}'],
        data: {
            champion: [],
            message: "this works!",
            website: "https://ddragon.leagueoflegends.com/cdn/12.19.1/img/champion/",
        },
        methods: {
            getChampion: function() {

                axios({
                    method: 'get',
                    url: `/champions/`
                }).then((response) => {
                    this.champion = response.data
                    // console.log(this.champion)
                    })
            },
            clearPage: function() {
            
                this.champion = []
            
            },

            highestHP: function() {
                // this.champion.sort(key=attrgetter("hp"))
                let hp_list = Object.entries(this.champion)
                console.log(hp_list[0][1].hp)
                hp_list.sort(
                    (a,b) => b[0][1].hp - a[0][1].hp
                )
                // for (champ in this.champion) {
                //     // console.log(this.champion[champ].hp)
                //     console.log(this.champion[champ].name + " " + this.champion[champ].hp)
                // }
    
                // console.log(this.champion.armor)
                // console.log(this.champion[0].hp)
        
            },
        },

        created: function() {
            this.getChampion()
        }
  })
</script>



</body>
</html>