{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invade</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
    <div id="home" class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Invade</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">This tool helps you make one decision:<br>Should you invade in ranked League of Legends?</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="#champ"><button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Champion Stats</button></a>
            <a href="#scouting"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Scouting Report</button></a>
          </div>
        </div>
        <div class="overflow-hidden">
          <div class="container px-5">
            <img src="{% static '/invadeapp/ionia1.jpg' %}" alt="The Battle of Alexander at Issus" class="img-fluid border rounded-3 shadow-lg mb-4" loading="lazy">
          </div>
        </div>
    </div>

    <div class="px-4 py-5 my-5 text-center" id="champ">
        <h1 class="display-5 fw-bold">Champion Stats</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Select the most powerful level 1 champions.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <select v-model="selected" name="selected" :id="selected">
                <option disabled value ="">Please select one</option>
                <option value="hp">HP</option>
                <option value="mp">MP</option>
                <option value="attackdamage">ATTACK DMG</option>
                <option value="attackspeed">ATTACK SPEED</option>
            </select>
            <button v-on:click="sortBy" type="button" class="btn btn-primary btn-lg px-4 gap-3">Sort By</button>
            <button v-on:click="clearPage" type="button" class="btn btn-outline-secondary btn-lg px-4">Clear Page</button>
            <a href="#home"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Home</button></a>
                </div>
            <div v-for="champ in champion" class="card" style="width: 18rem;">
                    <img class="card-img-top" v-bind:src="website+champ.image" style="width: 9rem;">
                    <div class="card-body">
                      <p class="card-text">${champ.name}</p>
                      <p class="card-text">hp: ${champ.hp}</p>
                      <p class="card-text">mp: ${champ.mp}</p>
                      <p class="card-text">attack dmg: ${champ.attackdamage}</p>
                      <p class="card-text">attack speed: ${champ.attackspeed}</p>  
                    </div>
                </div>
        </div>
    </div>

    <div id="scouting" class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Scouting Report</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Input your summoner name and receive a scouting report<br> on whether you should invade or not</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <form action="{% url 'invadeapp:savename' %}" method="post">
                {% csrf_token %}
            <label for="summonerName" class="form-label">Summoner name:</label>
            <input type="text" class="form-control" name="summonerName" placeholder="" value="" required>
            <button type="submit" class="btn btn-primary btn-lg px-4 me-sm-3">Input Name</button>
            </form>
            <br><br>
            <button v-on:click="getMatch" type="button" class="btn btn-primary btn-lg px-4 gap-3">Scout</button>
            <button v-on:click="clearPage" type="button" class="btn btn-outline-secondary btn-lg px-4">Clear Page</button>
            <a href="#home"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Home</button></a>
        </div>

            <div v-for="summoner in match" class="card" style="width: 18rem;">
                <!-- <img class="card-img-top" v-bind:src="website+champ.image" style="width: 9rem;"> -->
                <div class="card-body">
                  <p class="card-text">${summoner.summoner_name_match}</p>
                  <p class="card-text">champion: ${summoner.champion_id}</p>
                  <!-- <p class="card-text">mp: ${champ.mp}</p>
                  <p class="card-text">attack dmg: ${champ.attackdamage}</p>
                  <p class="card-text">attack speed: ${champ.attackspeed}</p>   -->
                </div>
            </div>

        </div>
    </div>

</div>

<script>
    let app = new Vue({
        el: '#app',
        delimiters: ['${','}'],
        data: {
            champion: [],
            website: "https://ddragon.leagueoflegends.com/cdn/12.19.1/img/champion/",
            selected: '',
            match: [],
        },
        methods: {
            getChampion: function() {

                axios({
                    method: 'get',
                    url: `/api/champions/`
                }).then((response) => {
                    this.champion = response.data
                    // console.log(this.champion)
                    })
            },
            getMatch: function() {

                axios({
                    method: 'get',
                    url: `/api/match`
                }).then((response) => {
                    this.match = response.data
                    console.log(this.match)
                    })
            },

            clearPage: function() {
            
                this.champion = []
                this.match = []
            
            },

            sortBy: function() {
                axios({
                    method: 'get',
                    url: `/api/champions/?ordering=-`+this.selected
                }).then((response) => {
                    this.champion = response.data
                    // console.log(this.champion)
                    })

            },            
        },
        // created: function() {
        //     this.getChampion()
        // },
})
</script>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>

